<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Provide mail details</h2>

<form method=POST action=''>
    <input placeholder='weight' name='weight'>
    <select name='type'>
        <option value='stamped'>Stamped Letter</option>
        <option value='metered'>Metered Letter</option>
        <option value='flat'>Large Envelope</option>
        <option value='parcel'>Parcel</option>
    </select>
    <input type=submit value="Get Rate">
</form>

</div>

</body>
</html>
